*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.container{
    background-color: lightcoral;
    height: 56px;
 margin: 0px;
 padding: 0px;
 z-index: 3;
 display: fixed;
 


}

.ist{
    background-color: transparent;
    padding: px;
    width: 100px;
    display: inline;
  
}
.second{
    padding: 10px;
    margin: 10px;
    display: inline;
    margin: 120px;
}
.third{
    display: inline;
    padding: 10px;
    margin: 20px;
}
#text{
    border: 1px solid black;
    text-align: center;
    width: 300px ; 
    display: inline-block;
    z-index: 1;
    

}
.aside{
    background-color: lightcyan;
    height: 50px;
    width: 100px;
    float: right;
  
  margin: 20px;
  padding: 20px;
  margin-left: px;
overflow: auto;
top: 640px;
bottom: 420px;
position:sticky;
}
.outside{
    height: 1000px;
    width: 250px;
    border: 2px solid black;
    position: absolute;  overflow:auto;
    display: inline-block;
    z-index: 1;
    margin-left: 90px;
    padding-left:20px ;
    overflow: auto;
    position: absolute;
    
}
.height{
    height: 1000px;
    width: 1000px;
}
.bigcontainer{
    border: 1px solid;
}